html{
		font-family:"배달의민족 한나";
}

.container{
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	background-color: #EDF6F9;
	width: 100%;
	height: 50%;
}

.primary_header {
	height: 0;
	overflow: hidden;
	background: #EDF6F9;
	padding-top: calc(209 / 1123 * 100%);
	position: relative;
}

.img_logo{
	position: absolute;
	top:2%;
	left: 40%;
	width: 22%;
	height: 22%;
	margin: auto;
	z-index: +3;
}


.image_grass{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: +2;
}
.secondary_header {
	height: 0;
	overflow: hidden;
	background: #EDF6F9;
	padding-top: calc(185 / 1914 * 100%);
	position: relative;
	bottom: 400px;
	margin-top: 0px;
}
.first_clear{
	background-color: #EDF6F9;}

.main{
	height: 0;
	width: 100%;
	overflow: auto;
	background: #EDF6F9;
	position: relative;	
}

.character{
	position: absolute;
	z-index=+5;
	top:10%;
	left: 10%;
}

.figure{
	height: 0;
	width: 100%;
	overflow: auto;
	background: #EDF6F9;
	position: relative;		
}

.cloud1{
	height: 0;
	width: 50%;
	background: #EDF6F9;
	padding-top: calc(252 / 1080 * 100%);
	position: relative;
	top: -150px;

}

.cloud2{
	height: 0;
	width: 50%;
	background: #EDF6F9;
	padding-top: calc(126 / 1080 * 100%);
	position: relative;
	top: -150px;

}

.img_bg_room{
	position: absolute;
	top:-9%;
	left:5%;
	width: 75%;
	height: 140%;
	margin: auto;
	z-index: +2;
}

.choose_round{
	position: absolute;
	top: -5%;
	left:36%;
	width: 13%;
	height: 13%;
	margin: auto;
	z-index: +3;
}

.choose_time{
	position: absolute;
	top: 45%;
	left:27%;
	width: 31%;
	height: 13%;
	margin: auto;
	z-index: +3;
}

.blank{
	position: absolute;
	top: 10%;
	left:7.5%;
	width: 70%;
	height: 25%;
	margin: auto;
	z-index: +3;
}

.timeToDraw{
	position: absolute;
	top: 56%;
	left: 40%;
	z-index: +5;
}

.blank2Container{
	position: relative;
	text-align: center;
}

.blank2{
	position: absolute;
	top: 60%;
	left:7.5%;
	width: 70%;
	height: 25%;
	margin: auto;
	z-index: +3;
}

.roundNumber{
	position: absolute;
	top: 5%;
	left: 40%;
	z-index: +5;
}

.up{
	position: absolute;
	top: 11%;
	left:70%;
	width: 7%;
	height: 8%;
	margin: auto;
	z-index: +4;
}

.down{
	position: absolute;
	top: 26%;
	left:70%;
	width: 7%;
	height: 8%;
	margin: auto;
	z-index: +4;
}


.up1{
	position: absolute;
	top: 61%;
	left:70%;
	width: 7%;
	height: 8%;
	margin: auto;
	z-index: +4;
}

.down2{
	position: absolute;
	top: 76%;
	left:70%;
	width: 7%;
	height: 8%;
	margin: auto;
	z-index: +4;
}

.start_game{
	position: absolute;
	top: 95%;
	left:22%;
	width: 40%;
	height: 25%;
	margin: auto;
	z-index: +4;
}



.show_players{
	position: absolute;
	top:-5%;
	left: 22%;
	width: 39%;
	height: 34%;
	margin: auto;
	z-index: +2;
	
}

.character2{
	position: absolute;
	top:50%;
	left: 22%;
	width: 39%;
	margin: auto;
	z-index: +4;
	
}

.figure1{
	height: 0;
	width: 33.33%;
	background: #EDF6F9;
	padding-top: calc(220 / 640 * 100%);
	position: relative;
	bottom: 350px;

}

.copy_link{
	position: absolute;
	top: 65%;
	left: 9%;
	width: 110%;
	height: 20%;
	margin: auto;
	z-index: +4;
	
}

.img_fig1{
	position: absolute;
	bottom:-5%;
	left: 40%;
	width: 30%;
	height: 100%;
	margin: auto;
	
}
.img_fig2{
	position: absolute;
	bottom: -10%;
	left: 60%;
	width: 50%;
	height: 80%;
	margin: auto;
	z-index: +1;
	
}

.figure2{
	height: 0;
	width: 33.33%;
	background: #EDF6F9;
	padding-top: calc(220 / 640 * 100%);
	position: relative;
	bottom: 350px;

}

.character{
	height: 0;
	width: 33.33%;
	background: #EDF6F9;
	padding-top: calc(220 / 640 * 100%);
	position: relative;
	bottom:300px;
	
	
}





.img_fig3{
	position: absolute;
	bottom: -5%;
	right: 100%;
	width: 30%;
	height: 80%;
	margin: auto;
	
}
.img_fig4{
	position: absolute;
	bottom: -6%;
	right: 30%;
	width: 40%;
	height: 60%;
	margin: auto;
	
}




.footer {
	background-color: #717070;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: "배달의민족 한나";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}



.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #EDF6F9;
}
	
	

.main {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #EDF6F9;
	clear: both;
	overflow: hidden;
}
.first_clear {
}
